
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');

.App {
  text-align: center;
}

.brand{
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
}

h1{
  font-family: 'Lobster Two', cursive;
  font-size: 50pt;
}

.card{
 height: 300px;
 width: 250px;
 background-color: rgb(197, 206, 203);
 margin: 10px;
 margin-left: auto;
 margin-right: auto;
}

a{
  margin: auto;
}

img{
  margin: auto;
  padding: 15px;
  height: 240px;
}

.up-box{
  display: flex;
  justify-content: space-between;
  margin: 20px; 
}

.up-box> h2{
  margin-left: 15%;
}

.l-box{
  margin-left: 15%;
  margin-right: 20px;
}

.r-box{
  margin-right: 15%;
  margin-left: 20px;
}

button, input{
  background-color: rgba(213, 230, 224, 0.836);
  border: solid rgb(72, 80, 92);
  border-radius: 5px;
}

p, lable, button{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}